.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
.idea/
public/uploads/
rmagick/
routes.txt
.idea/elusivestars.iml
sslcerts/
config/database.yml
config/app_config.yml
git_exclude/
.sass-cache
public/assets
uploads/
pull_*
.rvmrc
db/data.yml