<div id="privacy">
  <div>
    <h2><a id="privacy" href="/#privacy">Our privacy policy puts you in control</a></h2>
    <h3>State your intentions, not identity.</h3>

        <p>
          <strong>Private by default:</strong>
			You own your Prizzm profile and data. In using Prizzm you store your preferences, likes, things you may want to buy. 
			Prizzm is for stating your intentions and preferences, whatever they may be at the moment.
        </p>

        <p>
			This data will never be resold, licensed, or broadcast to another party without your explicit permission. You own the data, 
			you can edit and revise it at any time, as well as download and delete your data. It is anonymous by default, with the option to 
			integrate with your social media profile(s) and make elements public if you choose to do so.
        </p>

        <p>
			When you create a Prizzm profile, you grant license to Prizzm to display content, including advertisements and offers to you based on 
			your stated preferences - if you actively choose to look at the content. The license you grant is transactional: you allow a program 
			such as Prizzm.com or a web partner who implements the Prizzm API, to display content at the time you ask for it, but your Prizzm data 
			will never be used to give you an advertisement at a time that you don’t ask for it (such as email spam, junkmail, or selling data to 
			partners for non transactional use).
        </p>

    <hr />

    <div class="contact">
      <span>Have any questions?</span>
      <%= link_to "Contact Us", "#" -%>
    </div>
  </div>
</div>
