// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #666;
}

h1 {
  font-weight: normal;
  font-family: 'Museo500';
  padding-bottom: 10px;
}

h2, h3, label, a, .col, #privacy span {
  font-weight: normal;
  font-family: 'MuseoSans500';
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

a,
input[type="submit"] {
   -webkit-transition: color .1s ease-in,  background .1s ease-in;
   -moz-transition: color .1s ease-in, background .1s ease-in;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
}

.clear {
  clear: both;
}

// Home partial
#home {
  background-color: #0d2a31;
  height: 835px;
}

#home > div {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

#home h1 {
  padding-top: 380px;
  color: #fff;
  font-size: 50px;
}

#home h2 {
  color: #8bbcce;
  line-height: 22px;
  font-size: 22px;
}

#home h3 {
  color: #fff;
  font-size: 16px;
}

// How it works partial
#hiw {
}

#hiw #signup {
  background: #19353c;
  padding: 35px 0;
}

#signup form {
  width: 605px;
  margin: 0 auto;
}

#hiw #signup label {
  color: #8db2be;
  font-size: 18px;
  float: left;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 0;
}

#hiw #signup input[type=text] {
  padding: 15px 100px 15px 10px;
  width: 295px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  border: 0;
}

#hiw #signup input[type=text]::-webkit-input-placeholder {
  color: #bbb;
  font-style: italic;
  font-weight: 200;
}

#hiw #signup input[type=text]:-moz-placeholder {
  color: #bbb;
  font-style: italic;
  font-weight: 200;
}

#hiw #signup input[type=submit] {
  background: #3ca0a1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  width: 90px;
  padding: 11px 0 13px;
  float: right;
  margin: -45px 4px 0 0;
  z-index: 10;
  position: relative;
  &:hover {
    background: #46b4b5;
  }
}

#hiw #learn-more {
  background: #253f46;
  padding: 25px 0;
}

#hiw #learn-more a {
  color: #929fa3;
  display: block;
  width: 180px;
  padding: 0 0 0 15px;
  margin: 0 auto;
  font-size: 14px;
  text-decoration: underline;
  background: url('arrow-down.png') 0 center no-repeat;
  &:hover {
    color: #fff;
  }
}

#works > div {
  width: 810px;
  margin: 0 auto;
}

#hiw #works {
  background-color: #e4e7e8;
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 50px;
}

#hiw #works h2 {
  margin: 0 0 50px 0;
}

#hiw #works .illustration {
  margin-left: 145px;
}

#hiw #works .arrow-col {
  padding-top: 192px;
}

#hiw #works .col {
  float: left;
  width: 270px;
  height: 190px;
  &.arrow {
    background: url('arrow.png') right 160px no-repeat;
  }
}

#works .illu {
  width: 270px;
  height: 122px;
  text-align: center;
}

#hiw #works .col .desc {
  color: #888;
  width: 270px;
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 14px;
}

#ads > div {
  width: 460px;
  margin: 0 auto;
}

#hiw #ads {
  background-color: #dbdedf;
  padding: 30px 0;
}

#hiw #ads .col {
  float: left;
  width: 115px;
  padding: 30px 0;
}

#ads .illu {
  width: 115px;
  height: 36px;
  text-align: center;
}

#ads .desc {
  color: #444;
  text-align: center;
  width: 115px;
  margin: 10px 0 0 0;
}

// Privacy partial

#privacy > div {
  width: 800px;
  margin: 0 auto;
}

#privacy {
  background-color: #fff;
  padding: 50px 0 150px;
}

#privacy h2 {
  color: #1b4755;
}

#privacy h3 {
  color: #849ba2;
  margin: 10px 0 50px;
}

#privacy p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 22px;
}

#privacy .desc {
  margin-left: 200px;
}

#privacy hr {
  width: 620px;
  margin: 20px auto 30px;
}

#privacy span {
  color: #0f4b57;
  font-size: 16px;
  margin-right: 20px;
}

.contact {
  width: 325px;
  margin: 0 auto;
  a {
    border-radius: 30px;
    padding: 15px 15px 15px 40px;
    color: #fff;
    font-size: 16px;
    background: #203a3f url('contact.png') 15px center no-repeat;
    &:hover {
      text-decoration: none;
      background: #2d5057 url('contact.png') 15px center no-repeat;
    }
  }
}
